1.User_crawling/Asin_Category_MOBIUZ_list.csv
1.User_crawling/Asin_Category_MOBIUZ_list1.csv
1.User_crawling/Asin_Category_retry.csv
1.User_crawling/failed_list.csv
1.User_crawling/user_review_v1_MOBIUZ.csv
1.User_crawling/2.Product_info_crawling/3.Merge_user&info/MOBIUZ brand_breakdown.twb
1.User_crawling/2.Product_info_crawling/3.Merge_user&info/MOBIUZ Worksheet.zip
1.User_crawling/2.Product_info_crawling/3.Merge_user&info/MOBIUZ_Clean_Format.xlsx
chromedriver
